.outer-hive{


}

.inner-hive{


}

.text{
font-size:45pt;

}
.bee-wheel{
width:80vw;
height:80vw;

}
.bee-container-1{
  position:relative;
}
.bee-base{}
.bee-eye{
height:80%;
width:30%;
border-radius: 50%;

}
.bee-stripe{}
.bee-sting{}
.bee-wing{}

.talk-bubble{
width: 10vw;
height:7vw;
border-radius: 50%;

}
.talk-pointer{}

.flower-wheel{
height:20vw;
width:20vw;
position: absolute;
  margin:50%;
}
.flower-1{}
.flower-2{}
.flower-3{}
.flower-4{}

.flower-center{
width:30%;
height:30%;
border-radious:50%;
position:relative;
margin-top: 15%;
  margin-left:15%;
}


@keyframe flower-wheel-spin {
  to {tranform: rotate(180deg);}
}
@keyframe flower-spin{
  to{transform:rotate(-360deg);}
}
@keyframe bee-wheel-spin(
  to{transform: rotate(60deg);}
@keyframe bee-spin{
  to{transfrom: rotate(-60deg);}
@keyframe talk-pointer-spin{
    to{transform:rotate(-60deg);}
   


