@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

*{font-family: 'Klee One', cursive;}
/* iframe stylesheet of E7*/

body{
background-color: #dedbda;
}
a{
color:red;
font-size: 5pt;
text-decoration:none;
}
a :link{
color:pink;
text-decoration: underline dotted;
}
a :hover{
  background-color: lightcoral;
color:firebrick;
text-decoration: underline dotted;
}
.flex-box{
width:100vw;
height:100vh;
display: flex;
flex-wrap:wrap;
}

.transparent{
width: 30px;
height:30px;
background-color: solid transparent;
margin: 5px;
}
.shape1{
  width:0;
  height:0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid lime;
  margin:5px;
  transform:rotate(45deg);
}
.shape2{
  width: 30px;
  height:30px;
  border-radius: 50%;
  background-color: red;
    margin:5px;
}
.shape3{
  width: 30px;
  height:30px;
  background-color: green;
  transform:rotate(45deg);
    margin:5px;
}
.shape4{
width:30px;
height:50px;
background-color: blue;
border-radius: 60% 60% 40% 40%;
  margin:5px;

}
.the-spot{
  width: 60px;
  height:60px;
  background-color: rgba(255, 255, 255, 0.5);
text-align: center;
font-weight: 200;
}
