@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

body{
  background-color: lightgrey;
  font-family: 'Mitr', sans-serif;
}
:root{
  --pc-mobi-flex-dir:column;
  --pc-mobe-sect1: width:50vw;
  --pc-mobe-sect2: width:50vw;


}

.pc-mobi{
  display: flex;
  width: 100vw;
  min-height: 100vh;
background-color: azure;
}
.chart-gacha{
  display: flex;
  flex-wrap: wrap;
  min-width: 50vw;
  min-height: 50vh;
justify-content: center;
align-items: center;

}
.icon-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;

  width: 40%;
  height: auto;
  aspect-ratio: 3/4;
  background-color: aqua;
}
.ani-picto-container{
  width: 80%;
  min-height: 50%;
  aspect-ratio: 1;
  background-color: mintcream;
}
.gacha-btn{
  height: 20%;
  min-width:50%;
  background-color: tan;
}

.chart-all{
  min-width: 45%;
  min-height: 20%;
  height: fit-content;
  background-color: aquamarine;
}
#chartContainerAll{
 height: 30vh; 
  width: 100%;
}


.chart-year-sect{
  min-width: 85%;
  min-height: 35%;
  background-color: burlywood;
}

.iframe{
  width:100vw;
  min-height: 50vh;
  border:0; 
  padding: 0; 
  margin: 0;
}
.iframe iframe{
height: 100%;
width: 100%;
}