@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

body{
  background-color: lightgrey;
  font-family: 'Mitr', sans-serif;
}
:root{
  --pc-mobi-flex-dir:column;
  --pc-mobe-sect1: width:50vw;
  --pc-mobe-sect2: width:50vw;


}

.pc-mobi{
  display: flex;
  width: 100vw;
  min-height: 100vh;
background-color: azure;
justify-content: space-between;
align-content: space-between;
}
.L-container{
  display: flex;
  flex-wrap: wrap;
  min-width: 50vw;
  min-height: 50vh;
justify-content: center;
align-items: center;
flex-direction: column;
}

 .gene-container{
  display: flex;
  flex-wrap: nowrap;
  min-width: 50vw;
  min-height: 50vh;
justify-content: center;
align-items: center;
flex-direction: column;
/* MARK change after ani */
}

.picto-frame{
 width: 33%;
 aspect-ratio: 1;
 /* overflow: hidden; */
 /* MARK ani alter */
overflow: scroll;
 background-color: violet;
  
}

.ani-picto-container{
  display: flex;
 
  width: 300%;
 height: 100%;
  
  opacity: 0.8;
  background-color: mintcream;
}
.ani-picto-container img{
  width: 33%;
}


.iframe{
  width:100vw;
  min-height: 50vh;
  border:0; 
  padding: 0; 
  margin: 0;
}
.iframe iframe{
height: 100%;
width: 100%;
}