@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Rubik+Dirt&family=Yuji+Syuku&display=swap');

body{
  background-color: lightgrey;
 /* font-family: 'Yuji Syuku', serif; */
 font-family: 'Mitr', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 0.8rem;
  
  margin:  0 auto;

}
:root{
  --pc-mobi-flex-dir:column;
  --pc-mobe-sect1: width:50vw;
  --pc-mobe-sect2: width:50vw;


}

.pc-mobi{
  display: flex;
  width: 100vw;
  min-height: 100vh;
background-color: azure;
flex-direction: column;
justify-content: center;
align-content: center;
font-size: 0.8rem;

margin:  0 auto;


}


 .gene-container{
  display: flex;
  flex-wrap: nowrap;
  min-width: 80vw;
  min-height: 50vh;
justify-content: center;
align-items: center;
flex-direction: column;
/* MARK change after ani */
}

.picto-frame{
 width: 20%;
 aspect-ratio: 1;
 /* overflow: hidden; */
 /* MARK ani alter */
overflow: hidden;
 background-color: transparent;
 z-index: 10;
  
}

.ani-picto-container{
  display: flex;
 
  width: 300%;
 height: 100%;
  
  opacity: 0.8;
  background-color: transparent;
  animation: walkToFall;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-delay: 2s;
}
@keyframes walkToFall {
  0%{
    transform: translate(0, 0);
  }
  40%{
    transform: translate(-33%, 0);
  }
  80%{
    transform: translate(-66%, 0);
  }
  100%{
    transform: translate(0, 0);
  }
  
  
}
.ani-picto-container img{
  width: 33%;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 10;
  
 /*  display: none; */
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.open{
  display: none;
/*  background-color: red; */
}
.pie-number-text{
  text-align: center;
 z-index: 10;
 padding:3rem;
 background-color: #ffffff88;
 border-radius: 5vw;
 border: 0.2rem solid white;
 box-shadow: 1rem 1rem 1rem #ffffff73 ;
}
#paveLong, #arrayLong, #displayW,  #displayF, #displayFh{
  font-size: 2rem;
}

.iframe{
  display: fixed;
  bottom: 0;
  width:100%;
  height: 70vh;
  /* border:0; 
  padding: 0;  */
 
  margin:  0 auto;
  
  background-color: aqua;
}
.iframe iframe{
height: 100%;
width: 100vw;

display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.button_solid014 a{
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 10rem;
  padding: 1rem 2rem;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  box-shadow: 5px 5px 0 #6bb6ff;
  border-radius: 2.5rem;
  border: 0.1rem solid black;
}
.button_solid014 a:hover {
background-color: #b3d9ff;
box-shadow: 0 0 0;
transform: translate(5px, 5px);
}
.button_solid014 a:after {
  position: absolute;
  top: 50%;
  right: 1rem;
  transition: 0.2s ease-in-out;
  content: "　▶";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: translateY(-50%);
}
.button_solid004 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #6bb6ff;
  border-radius: 8px;
  border-bottom: solid 5px #1d7fde;
}
.button_solid004 a:hover {
  border-bottom: solid 2px #1d7fde;
  transform: translateY(3px);
}
.blockBase{
  width: calc(1.2vw + 0.2rem);
  height: calc(1.2vw + 0.2rem);
  will-change: opacity;
  border: 0.05rem solid seashell;
  

}
#geneBContainer div:hover {
 /*  transform: scale(1.2);
  transition: 0.1s; */
  opacity:0;
  animation: scale-out-center 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
.blockGood{ background-color: #b8ecff;}
.blockFair{background-color: #feffb1;}
.blockPoor{background-color: #ffe1b5;}

#geneBContainer{
  min-width: 50vw;
  max-width: 80vw;
  display: flex;
  gap:0.5vw;
  flex-wrap: wrap;
  margin-top: -70vh;
  z-index: 2;
}

#externelle-iframe{
 
margin: 0 auto;

}
#lengthInput, #offsetDisplay ,  .button_solid014 {z-index: 10;}
.title-container {width: 100vw; text-align: center; z-index: 15; margin-bottom: 5vh;}
.title-container h1, h3 {font-size: 1.5rem; font-family: 'Rubik Dirt', cursive; z-index: 15;}
#displayW, #displayF, #displayFh, #paveLong, #arrayLong, #offsetDisplay {font-family: 'Rubik Dirt', cursive;}


.map-btn{
  display: block;
  max-width: 98vw;
  min-height: 5vh;
  text-align: center;
  padding:  3vh 0  ;
  background-color: mintcream;
  border: .2rem solid turquoise;
  border-radius: 1rem;

  font-size: 2.2rem;
  font-family: 'Rubik Dirt', cursive;
}