body {
  background-color: gainsboro;
}


.circle-1 {
display:block;
position: absolute;
margin-left: 10vw;
margin-top: 10vh;
height:25vw;
width:25vw;
border-radius: 50%;
background-color:red;
z-index: 2;
}
.circle-2 {
  display:block;
  position: absolute;
margin-left: 30vw;
margin-top: 10vh;
height:25vw;
width:25vw;
border-radius: 50%;
background-color:blue;
z-index: 3;
}
.circle-3 {
  display:block;
  position: absolute;
margin-left: 50vw;
margin-top: 10vh;
height:25vw;
width:25vw;
border-radius: 50%;
background-color:green;
z-index: 4;
}
.circle-shadow{
  margin-left: 20%;
  margin-top:-5%;
  opacity:30%;
display:block;
position:relative;
height:70%;
width:70%;
border-radius: 50%;
background-color: black;
z-index: 10;
}
.circle-light {
  margin-left: 40px;
  margin-top:-90%;
  opacity:80%;
display:block;
position:relative;
height:20%;
width:20%;
border-radius: 50%;
background-color: white;
z-index: 12;
}
.circle-bottom-shadow {

  display:block;
  position:relative;
margin-left: 15%;
margin-top: 85%;
height:5vw;
width:30vw;
border-radius: 50%;
background-color:black;
opacity:20%;
z-index: 1;
}
