body{
  background-color: #c9c9c9;

}
.the-big-box{
margin:0 auto;
border:20px;
}

.person-1 {
position:fixed
left:0px;
bottom:0px;
width:5vw;
height:10vw;
border-radius: 20%;
background-color:white;
}
.person-2 {
 position:fixed
right:0px;
bottom:0px;
width:5vw;
height:10vw;
border-radius: 20%;
background-color:white;
}
.head {
width:5vw;
  height:5vw;
  border-radius:50%;
 backgroun-color:inferit;
positon: relative
  margin-top: -30%;
  margin-left: 50%;
}

media (max-width: 576px) {
  body {
    background-color: #black;
    color:  white;
  }
}

media (max-width: 768px) {
  body {
    background-color: #black;
    color:  white;
  }
}

media (max-width: 992px) {
  body {
    background-color: #black;
    color:  white;
  }
}

media (max-width: 1200px) {
  body {
    background-color: #black;
    color:  white;
  }
}

/*stages-display*/

@media(min-width:576px){
  }

@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}


@keyframes beats {
from {opacity:20%;}
  50%{opacity:100%;}
    to{opacity:10%;}
animation-direction:normal;
}
@keyframes infini-loop{
from {transform: rotate(-5deg);}
to{transform: rotate(360deg);}
}


