@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
body{

font-family: 'Kelly Slab', cursive;
}

.the-big-box{
margin:0 auto;
border:20px;
}
.container{
  width:100vw;
  height:100vh;
}
.text-scale {
text-align: center;

}
.text-scale h3{
position:absolute;
left:50%;
top:50%;
transform: translate(-50%, -50%);
}
.text-scale h4{
font-size: 10pt;
position:fixed;
top:0px;
left:50%;
transform: translateX(-50%);
}
.person-1 {
display: block;
position:fixed;
left:0px;
bottom:0px;
width:100px;
height:300px;
border-radius: 10%;
background-color:white;
z-index:2;
}
.person-1-red {
display: block;
position:fixed;
left:0px;
bottom:0px;
width:100px;
height:300px;
border-radius: 10%;
background-color:red;
}
.person-2 {
  display: block;
position:fixed;
right:0px;
bottom:0px;
width:100px;
height:300px;
border-radius: 10%;
background-color:white;
}
.head {
width:100px;
  height:100px;
  border-radius:50%;
 background-color:inherit;
position: relative;
  margin-top: -120px;
  margin-left: 0px;
}
.spinner{
  position: fixed;
  width:50vw;
aspect-ratio:1/1;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
.infini-loop-1{
position: fixed;
max-width: 70%;
width:70%;
aspect-ratio:1/1;
left:50%;
top:50%;
transform:translate(-50%, -50%);
background-color: transparent;

}
.infini-loop-2{
position: fixed;
max-width: 70%;
width:70%;
aspect-ratio:1/1;
left:50%;
top:50%;
transform:translate(-50%, -50%);
background-color: transparent;

}
.infini-loop-3{
position: fixed;
max-width: 70%;
width:70%;
aspect-ratio:1/1;
left:50%;
top:50%;
transform:translate(-50%, -50%);
background-color: transparent;

}
.infini-loop-4{
position: fixed;
max-width: 70%;
width:70%;
aspect-ratio:1/1;
left:50%;
top:50%;
transform:translate(-50%, -50%);
background-color:transparent;

}

.loop-left-1{
display:inherit;
width: 100%;
aspect-ratio:1/1;
position:relative;
box-sizing: border-box;
margin-left:-49%;
border-radius: 50%;
border:20px solid ;
border-color:rgba(255, 255, 255, 0.2);
animation-name:infini-loop;
animation-duration:2s;
animation-direction: normal;
animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
animation-iteration-count: infinite;
z-index: 8;
}
.loop-left-2{
display:inherit;
width: 100%;
aspect-ratio:1/1;
position:relative;
box-sizing: border-box;
margin-left:-49%;
border-radius: 50%;
border:20px solid ;
border-color:rgba(255, 255, 255, 0.2);
animation-name:infini-loop;
animation-duration:1s;
animation-direction: normal;
animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
animation-iteration-count: infinite;
z-index: 8;
}
.loop-left-3{
display:inherit;
width: 100%;
aspect-ratio:1/1;
position:relative;
box-sizing: border-box;
margin-left:-49%;
border-radius: 50%;
border:20px solid ;
border-color:rgba(255, 255, 255, 0.2);
animation-name:infini-loop;
animation-duration:0.5s;
animation-direction: normal;
animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
animation-iteration-count: infinite;
z-index: 8;
}
.loop-left-4{
display:inherit;
width: 100%;
aspect-ratio:1/1;
position:relative;
box-sizing: border-box;
margin-left:-49%;
border-radius: 50%;
border:20px solid ;
border-color:rgba(255, 255, 255, 0.2);
animation-name:infini-loop;
animation-duration:0.25s;
animation-direction: normal;
animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
animation-iteration-count: infinite;
z-index: 8;
}
.loop-right-1{
  display:inherit;
width: 100%;
  aspect-ratio:1/1;
  position:relative;
  box-sizing: border-box;
  margin-left:49%;
  margin-top:-100%;
  border-radius: 50%;
  border:20px solid ;
  border-color:rgba(255, 255, 255, 0.2);
  animation-name:infini-loop;
animation-duration:2s;
animation-direction: reverse;
animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
animation-iteration-count: infinite;
z-index: 8;
}
.loop-right-2{
  display:inherit;
width: 100%;
  aspect-ratio:1/1;
  position:relative;
  box-sizing: border-box;
  margin-left:49%;
  margin-top:-100%;
  border-radius: 50%;
  border:20px solid ;
  border-color:rgba(255, 255, 255, 0.2);
  animation-name:infini-loop;
animation-duration:1s;
animation-direction: reverse;
animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
animation-iteration-count: infinite;
z-index: 8;
}
.loop-right-3{
  display:inherit;
width: 100%;
  aspect-ratio:1/1;
  position:relative;
  box-sizing: border-box;
  margin-left:49%;
  margin-top:-100%;
  border-radius: 50%;
  border:20px solid ;
  border-color:rgba(255, 255, 255, 0.2);
  animation-name:infini-loop;
animation-duration:0.5s;
animation-direction: reverse;
animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
animation-iteration-count: infinite;
z-index: 8;
}
.loop-right-4{
  display:inherit;
width: 100%;
  aspect-ratio:1/1;
  position:relative;
  box-sizing: border-box;
  margin-left:49%;
  margin-top:-100%;
  border-radius: 50%;
  border:20px solid ;
  border-color:rgba(255, 255, 255, 0.2);
  animation-name:infini-loop;
animation-duration:0.25s;
animation-direction: reverse;
animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
animation-iteration-count: infinite;
z-index: 8;
}
.dot-left-1{
  width:20%;
  height:20%;
  position:relative;
  border-radius:50%;
  display: inherit;
  left:6%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:white;
  z-index: 10;
  animation-name: dot-pass;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.dot-left-2{
  width:20%;
  height:20%;
  position:relative;
  border-radius:50%;
  display: inherit;
  left:6%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:white;
  z-index: 10;
  animation-name: dot-pass;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.dot-left-3{
  width:20%;
  height:20%;
  position:relative;
  border-radius:50%;
  display: inherit;
  left:6%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:white;
  z-index: 10;
  animation-name: dot-pass;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.dot-left-4{
  width:20%;
  height:20%;
  position:relative;
  border-radius:50%;
  display: inherit;
  left:6%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:white;
  z-index: 10;
  animation-name: dot-pass;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot-right-1{
  width:20%;
  height:20%;
  position:relative;
  border-radius:50%;
  display:inherit;
  left:94%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:black;
    z-index: 10;
    animation-name: dot-pass2;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.dot-right-2{
  width:20%;
  height:20%;
  position:relative;
  border-radius:50%;
  display:inherit;
  left:94%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:black;
    z-index: 10;
    animation-name: dot-pass2;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.dot-right-3{
  width:20%;
  height:20%;
  position:relative;
  border-radius:50%;
  display:inherit;
  left:94%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:black;
    z-index: 10;
    animation-name: dot-pass2;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.dot-right-4{
  width:20%;
  height:20%;
  position:relative;
  border-radius:50%;
  display:inherit;
  left:94%;
  top:50%;
  transform:translate(-50%, -50%);
  background-color:#black;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.3); 
    z-index: 10;
    animation-name: dot-pass2;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

media (max-width: 576px) {
  body {
    background-color: #black;
    color:  white;
  }
}

media (max-width: 768px) {
  body {
    background-color: #black;
    color:  white;
  }
}

media (max-width: 992px) {
  body {
    background-color: #black;
    color:  white;
  }
}

media (max-width: 1200px) {
  body {
    background-color: #black;
    color:  white;
  }
}

/*stages-display*/
@media(min-width:100px){
  .text-scale  .text-4{font-size: 15pt; font-weight: normal;}
  .text-1 {display:none;}
  .text-2 {display:none;}
  .text-3 {display:none;}
  .text-4 {display:block;}
  .infini-loop-1 {display:none;}
  .infini-loop-2 {display:none;}
  .infini-loop-3 {display:none;}
  .infini-loop-4 {display:block;}
  .person-1{opacity:0%;}
    body{ background-color: #272727;color:#a9a9a9;}
  }
@media(min-width:576px){
  .text-scale  .text-4{font-size: 24pt; font-weight: normal;}
  .text-1 {display:none;}
  .text-2 {display:none;}
  .text-3 {display:none;}
  .text-4 {display:block;}
  .infini-loop-1 {display:none;}
  .infini-loop-2 {display:none;}
  .infini-loop-3 {display:none;}
  .infini-loop-4 {display:block;}
  .person-1{opacity:0%;}
  body{ background-color: #272727;color:#a9a9a9;}
  }

@media(min-width:768px){
  .text-scale .text-3 {font-size: 28pt; font-weight: normal;}
  .text-1 {display:none;}
  .text-2 {display:none;}
  .text-3 {display:block;}
  .text-4 {display:none;}
  .infini-loop-1 {display:none;}
  .infini-loop-2 {display:none;}
  .infini-loop-3 {display:block;}
  .infini-loop-4 {display:none;}
  .person-1{opacity:35%;}
  body{ background-color: #383838; color:#b1b1b1;}
}
@media(min-width:992px){
  .text-scale .text-2 {font-size: 35pt; font-weight: normal;}
  .text-1 {display:none;}
  .text-2 {display:block;}
  .text-3 {display:none;}
  .text-4 {display:none;}
  .infini-loop-1 {display:none;}
  .infini-loop-2 {display:block;}
  .infini-loop-3 {display:none;}
  .infini-loop-4 {display:none;}
  .person-1{opacity:75%;}
  body{ background-color: #898989;color:black;}
}
@media(min-width:1200px){
.text-scale .text-1{font-size: 42pt; font-weight: normal;}
.text-1 {display:block;}
.text-2 {display:none;}
.text-3 {display:none;}
.text-4 {display:none;}
.infini-loop-1 {display:block;}
.infini-loop-2 {display:none;}
.infini-loop-3 {display:none;}
.infini-loop-4 {display:none;}
.person-1{opacity:100%;}
body{ background-color: #b9b9b9;color:black;}

}



@keyframes infini-loop{
from {transform: rotate(0deg);}
to{transform: rotate(360deg);}
}
@keyframes dot-pass{
from{opacity: 0%;}
50%{opacity: 100%;}
to{opacity: 0%;}
}
@keyframes dot-pass2{
from{opacity: 100%;}
50%{opacity: 0%;}
to{opacity: 100%;}
}
