@import url('https://fonts.cdnfonts.com/css/gill-sans');
/* as reference of the font the brand used for advertisement */
:root{
    --page-flex:row;
    --page-flex-space:space-between;
    --page-flex-spaceA:space-between;
    --page-flex-spaceB: center;
    --emblem-height:10vw;
    --list-height:50vmax;
    --footer-position:sticky;

    --page-bg-colorL-1:#C8CCD0;
    --page-bg-color:#99A1A6;
    --page-bg-color-L2:#53606A;
    --page-emblem-text-color:#53606A;
    --page-dubby-circle-loc:25%;
    --page-text-color:#0D1F2D;
    --page-accent-color:#2149FD;
    --page-accent-color2:#CA0502;


    --container-width-tweak: 100vw;

    --container-mobi-loc-tweak: 0%;
    --container-list-width-tweak: 75%;

    --display-unit-pc-mobi-switch:20%;
}

*{
    color: var(--page-text-color);
   
                                                
    
}
body{
    background-color:var(--page-bg-color);
    font-family: 'Gill Sans', sans-serif;
    font-weight: 500;
}

.pc-mobi-container{
    margin: 0 auto;  
     
    width: var(--container-width-tweak);
    display: flex;
    justify-content: var(--page-flex-space);
    align-items: var(--page-flex-spaceA);
    flex-direction:var(--page-flex);
   
    background-color: var(--page-bg-color-L2);

    margin-top: var(--container-mobi-loc-tweak);
      
    
}
.emblem-container{
    border-radius: 3vmin;
    width: 18%;
    aspect-ratio: 1/1;
    background-color: burlywood;
   
}
.dubbytext{
    border-radius: 50%;
    width: 220%;
    aspect-ratio: 1/1;
    background-color: #8f91be89;
    margin-top:  var(--page-dubby-circle-loc);
    transform: translateX(-35%);
    
}
#emblem-text{
    fill: var(--page-text-color);
}

.main-container{
    display: flex;
  flex-direction: column;
  justify-content:var(--page-flex-spaceB);
  align-items: center;
    width: var(--container-list-width-tweak);
    max-height: 90vh; /* MARk fix with var for mobi */
    background-color: var(--page-bg-color-L2);
   
    
}
.list-container > div {
    width: var(--display-unit-pc-mobi-switch);
    aspect-ratio: 3/2;
    margin: 2%;
    background-color: #e7e7e753;
    border-radius: 10%;
    overflow: hidden;
}


.main-container .list-container {
    width: 90%;
    height: 90%;
    margin: 5%;
    background-color: var(--page-bg-colorL-1); 
    overflow-y: scroll;
    border-radius: 5%;
}

#option-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
      width: 90%;
      background-color: transparent;
      height: 7%;
}
#option-row div{
    width: 24%;
    height: 100%;
    margin: .5%;
    text-align: center;
   
    color:var( --page-text-color);
    

   font-size: 1rem;
  font-weight: 500;
  letter-spacing: .1rem;
  padding: 1rem 1.2rem 1rem;
  outline: 0;
  border: 0.1rem solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation; 

  z-index: 3;
}
#option-row div:after {
    content: "";
    background-color: var(--page-accent-color);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: .5rem;
    left: .5rem;
    transition: 0.2s;
  }
  #option-row div:nth-child(2)::after {
    
    background-color: var(--page-accent-color2);
    
  }
#option-row div:hover:after {
    top: 0px;
    left: 0px;
  }







.photolinked{
    width: 100%;
}

#circle{
    position: relative;
    margin-left: -20%;
    margin-top: -20%;
}
#emblem-mock{
    position: relative;
    margin-top: -75%;
    margin-left: 25%;
}
.list-container{
 display: flex;   
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
align-content: flex-start;

overflow: auto;
flex-direction: row;
}
/* mocking style */


.list-container{
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 3%;
}





/* the generated content hover on */
.photocontent > img:hover{
    opacity: 0.5;
}




.display-veil {
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    z-index: 10;
  }

  .display-unit {
    padding: 1vh 2vw;
    width: 80vw;
    height: 80vh;
    max-width: 1500px;
    background: #fff;
    text-align: center;
    border: 10px solid #EBF1F0;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
  }
  
.display-unit-inner{
    display: none;
}
/* open sect */

.display-veil.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.display-unit-inner.open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-large-linked{
    width: 100%;
}


@media screen and (min-width: 320px){
    :root{
        --page-flex:column;
        --page-flex-space:center;
        --page-flex-spaceA:center;
        --page-flex-spaceB: start;
        --container-mobi-loc-tweak: -20%;
        --container-width-tweak: 98vw;
        --display-unit-pc-mobi-switch:40%;
    }
}
@media screen and (min-width: 1024px){
    :root{
        --page-flex:row;
        --page-flex-space:space-between;
        --page-flex-spaceA:center;
        --page-flex-spaceB: space-between;
        --container-mobi-loc-tweak: 0%;
        --container-width-tweak: 88vw;
        --display-unit-pc-mobi-switch:20%;
    }
}