#circle{
    position: relative;
    margin-left: -20%;
    margin-top: -20%;
}
#emblem-mock{
    position: relative;
    margin-top: -75%;
    margin-left: 25%;
}
.list-container{
 display: flex;   
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
align-content: flex-start;

overflow: auto;
flex-direction: row;
}
/* mocking style */
#option-row{
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 10%;
}
.main-container{
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 5%;
}

.list-container{
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 3%;
}




#option-row div{
    background-color: gray;
    text-align: center;
   
    color: white;
    border-radius: 10vmin;
}
#option-row :first-child{
    background-color: transparent;
}
/* the generated content hover on */
.photocontent > img:hover{
    opacity: 0.5;
}

#emblem-text{
    fill: slategray;
}
.pc-mobi-container {
    background-color: transparent;
}
.emblem-container{
    background-color: transparent;
}



.display-veil {
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
  }

  .display-unit {
    padding: 1vh 2vw;
    width: 80vw;
    height: 80vh;
    max-width: 1500px;
    background: #fff;
    text-align: center;
    border: 10px solid #EBF1F0;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
  }
  
.display-unit-inner{
    display: none;
}
/* open sect */

.display-veil.open {
    display: flex;
  }
.display-unit-inner.open{
    display: block;
}