@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,700&display=swap');

body{
  background-color: #D1AC27;
  font-family: 'Josefin Slab', serif;
}
#explain{  opacity:30%
  font-size:30pt;
}
.the-big-box{
margin-left:20px;
margin-top:-70px;
width:100vw;
height:100vh;
}
.container{}

.outer-hive-top-1{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 528px;
margin-top:99px;
transform:scaleX(1.2);
}
.outer-hive-bottom-1{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:528px;
margin-top: 224px;
transform:scaleX(1.2);

}
.outer-hive-top-2{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 746px;
margin-top:227px;
transform:scaleX(1.2);
}
.outer-hive-bottom-2{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:746px;
margin-top: 352px;
transform:scaleX(1.2);
}

.outer-hive-top-3{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 309px;
margin-top:227px;
transform:scaleX(1.2);
}
.outer-hive-bottom-3{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:309px;
margin-top: 352px;
transform:scaleX(1.2);
}
.outer-hive-top-4{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 528px;
margin-top:357px;
transform:scaleX(1.2);
}
.outer-hive-bottom-4{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:528px;
margin-top: 482px;
transform:scaleX(1.2);
}

.outer-hive-top-5{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 745px;
margin-top:486px;
transform:scaleX(1.2);
}
.outer-hive-bottom-5{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:745px;
margin-top: 611px;
transform:scaleX(1.2);
}

.outer-hive-top-6{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 529px;
margin-top:616px;
transform:scaleX(1.2);
}
.outer-hive-bottom-6{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:529px;
margin-top: 741px;
transform:scaleX(1.2);
}

.outer-hive-top-7{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 310px;
margin-top:486px;
transform:scaleX(1.2);
}
.outer-hive-bottom-7{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:310px;
margin-top: 611px;
transform:scaleX(1.2);
}

.inner-hive-top{
  border-bottom:104px solid #C7C7C7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height :0;
  width:120px;
  position:relative;
  margin-left: -50px;
  margin-top:  21px;
  display: inline-block;

}
.inner-hive-bottom{
  border-top:104px solid #C7C7C7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height :0;
  width:120px;
  margin-left: -50px;
  margin-top: -150px;
padding-bottom:35px;
  position: relative;
  display: inline-block;
}

.text{
font-size:50px;
color: #C35151;
text-align: center;
position: absolute;
margin-left:560px;
margin-top: 422px;

}
.bee-wheel{
  animation-name: bee-wheel-spin;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
width:900px;
height:900px;
border-radius:50%;
background-color: transparent;
margin-left: 200px;
margin-top:50px;

display: block;
position:absolute;
}
.bee-container-1{
  display:block;
  width:10px;
  height:10px;
  background-color: transparent;
  animation-name: bee-spin;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position:relative;
  padding:100px;
  margin-left: 345px;
  margin-top:85px;
}
.bee-container-2{
  width:10px;
  height:10px;
  background-color: transparent;
  animation-name: bee-spin;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position:relative;
  padding:100px;
  margin-left: 122px;
  margin-top:165px;
}
.bee-container-3{
  width:10px;
  height:10px;
  background-color: transparent;
  animation-name: bee-spin;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position:relative;
    padding:100px;
  margin-left: 565px;
  margin-top:-218px;
}
.bee-base-1{
  position:relative;
  display:block;
  width:223px;
  height:173px;
  border-radius: 50%;
  background-color:#6b6b6b;
  margin-top: -84px;
  margin-left:-109px;

}

.bee-base-2{
  position:relative;
  display:block;
  width:223px;
  height:173px;
  border-radius: 50%;
  background-color:#6b6b6b;
  margin-top: -74px;
  margin-left:-109px;

}
.bee-base-3{
  position:relative;
  display:block;
  width:223px;
  height:173px;
  border-radius: 50%;
  background-color:#6b6b6b;
  margin-top: -74px;
  margin-left:-109px;

}
.bee-container-1:hover{
  animation-name: bee-angry;
  animation-duration:0.2s;
  animation-fill-mode: forwards;
}

.bee-container-2:hover{
  animation-name: bee-angry;
  animation-duration:0.2s;
  animation-fill-mode: forwards;
}
.bee-container-3:hover{
  animation-name: bee-angry;
  animation-duration:0.2s;
  animation-fill-mode: forwards;
}
.bee-container-1:hover .bee-base-1{
 background-image: linear-gradient(to left,#b8000f, #bd9f4d);}
 .bee-container-2:hover .bee-base-2{
  background-image: linear-gradient(to left,#b8000f, #bd9f4d);}
  .bee-container-3:hover .bee-base-3{
   background-image: linear-gradient(to left,#b8000f, #bd9f4d);}

.bee-eye{
  position:relative;
height:105px;
width:58px;
margin-left: 70px;
margin-top:-150px;
border-radius: 50%;
background-color: #222924;
opacity:100%;

}
.bee-eye-2{
  position:relative;
height:105px;
width:58px;
margin-left: 89px;
margin-top:-150px;
border-radius: 50%;
background-color: #222924;
opacity:100%;

}
.bee-eye-3{
  position:relative;
height:105px;
width:58px;
margin-left: 70px;
margin-top:-150px;
border-radius: 50%;
background-color: #222924;
opacity:100%;

}

.bee-stripe{
  position:relative;
  margin-top: -172px;
  margin-left: -118px;

}
.bee-stripe-2{
  position:relative;
  margin-top: -172px;
  margin-left: -116px;

}
.bee-stripe-3{
  position:relative;
  margin-top: -172px;
  margin-left: -114px;

}
.bee-sting{
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #d9d9d9;
	border-bottom: 25px solid transparent;
  position:relative;
  margin-left:-157px;
  margin-top:-80px;
}
.bee-sting-2{
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #d9d9d9;
	border-bottom: 25px solid transparent;
  position:relative;
  margin-left:-155px;
  margin-top:-80px;
}
.bee-sting-3{
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #d9d9d9;
	border-bottom: 25px solid transparent;
  position:relative;
  margin-left:-155px;
  margin-top:-80px;
}

.bee-wing{
position:relative;
margin-top:-187px;
margin-left: -140px;
}
.bee-wing-2{
position:relative;
margin-top:-182px;
margin-left: -106px;
}

.bee-wing-3{
position:relative;
margin-top:-177px;
margin-left: -162px;
}
.flower-svg{
position:relative;
  background: transparent;
  margin-left:1%;
  margin-top:1%;
}

.flower-wheel{
height:1000px;
width:1000px;
background-color: transparent;
border-radius: 50%;
position: absolute;
  margin-left:155px;
  margin-top:-10px;
  transform: scale(0.22);
  opacity:0%;
  transition:0.8s;
}
.flower-wheel:hover{
  transform: scale(0.9);
opacity:100%;
}
.flower-1{
  height:311px;
  width:308px;
position:relative;
margin-left: 920px;
margin-top: 27px;
display: block;
animation-name: flower-spin;
animation-duration: 5s;
animation-direction: normal;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.flower-2{
  height:195px;
  width:195px;
position:relative;
margin-left: 910px;
margin-top: 250px;
display: block;
animation-name: flower-spin;
animation-duration: 5s;
animation-direction: normal;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.flower-4{
  height:222px;
  width:222px;
position:relative;
margin-left: -30px;
margin-top:-30px;
display: block;
animation-name: flower-spin;
animation-duration: 5s;
animation-direction: normal;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.flower-3{
  height:298px;
  width:298px;
position:relative;
margin-left: -75px;
margin-top: -1080px;
display: block;
animation-name: flower-spin;
animation-duration: 5s;
animation-direction: normal;
animation-iteration-count: infinite;
animation-timing-function: linear;
}


.flower-center-1{
width:100px;
height:100px;
border-radius:50%;
background-color: #e4df59;
position:relative;
margin-top: -210px;
margin-left:100px;

}
.flower-center-2{
width:60px;
height:60px;
border-radius:50%;
background-color: #e4df59;
position:relative;
margin-top: -128px;
margin-left: 70px;
}
.flower-center-4{
width:100px;
height:100px;
border-radius:50%;
background-color: #e4df59;
position:relative;
margin-top: -200px;
margin-left:98px;
}
.flower-center-3{
width:100px;
height:100px;
border-radius:50%;
background-color: #e4df59;
position:relative;
margin-top: -163px;
margin-left:65px;;
}
@keyframes flower-wheel-spin {
  to {transform: rotate(180deg);}
}
@keyframes flower-spin{
  from{transform: rotate(0deg);}
  to{transform:rotate(-360deg);}
}
@keyframes bee-wheel-spin {
  to{transform: rotate(360deg);}
}
@keyframes bee-spin{
  to{transform: rotate(-360deg);}
}
@keyframes flower-spin{
    to{transform: rotate(-360deg);}
transform-origin: center center;
}
@keyframes bee-angry{
  from {transform: rotate(0deg);}
  33% {transform: rotate(10deg);}
  66% {transform: rotate(-8deg);}
  to {transform: rotate(0deg);}
  }
