body{
  background-color: #D1AC27
}


.container{}


.outer-hive-top-1{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 528px;
margin-top:99px;
transform:scaleX(1.2);
}
.outer-hive-bottom-1{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:528px;
margin-top: 224px;
transform:scaleX(1.2);

}
.outer-hive-top-2{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 746px;
margin-top:227px;
transform:scaleX(1.2);
}
.outer-hive-bottom-2{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:746px;
margin-top: 352px;
transform:scaleX(1.2);
}

.outer-hive-top-3{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 309px;
margin-top:227px;
transform:scaleX(1.2);
}
.outer-hive-bottom-3{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:309px;
margin-top: 352px;
transform:scaleX(1.2);
}
.outer-hive-top-4{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 528px;
margin-top:357px;
transform:scaleX(1.2);
}
.outer-hive-bottom-4{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:528px;
margin-top: 482px;
transform:scaleX(1.2);
}

.outer-hive-top-5{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 745px;
margin-top:486px;
transform:scaleX(1.2);
}
.outer-hive-bottom-5{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:745px;
margin-top: 611px;
transform:scaleX(1.2);
}

.outer-hive-top-6{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 529px;
margin-top:616px;
transform:scaleX(1.2);
}
.outer-hive-bottom-6{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:529px;
margin-top: 741px;
transform:scaleX(1.2);
}

.outer-hive-top-7{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 310px;
margin-top:486px;
transform:scaleX(1.2);
}
.outer-hive-bottom-7{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:310px;
margin-top: 611px;
transform:scaleX(1.2);
}

.inner-hive-top{
  border-bottom:104px solid #C7C7C7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height :0;
  width:120px;
  position:relative;
  margin-left: -50px;
  margin-top:  21px;
  display: inline-block;

}
.inner-hive-bottom{
  border-top:104px solid #C7C7C7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height :0;
  width:120px;
  margin-left: -50px;
  margin-top: -150px;
padding-bottom:35px;
  position: relative;
  display: inline-block;
}

.text{
font-size:38px;
color: #C35151;
position: absolute;
margin-left:560px;
margin-top: 422px;

}
.bee-wheel{
  animation-name: bee-wheel-spin;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
width:900px;
height:900px;
border-radius:50%;
background-color: blue;
opacity:80%;
margin-left: 200px;
margin-top:50px;
z-index:20%;
display: block;
position:absolute;
}
.bee-container-1{
  display:block;
  width:10px;
  height:10px;
  background-color: red;
  animation-name: bee-spin;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position:relative;
  padding:100px;
  margin-left: 345px;
  margin-top:85px;
}
.bee-container-2{
  width:10px;
  height:10px;
  background-color: red;
  animation-name: bee- spin;
  animation-duration: 35s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position:relative;
    padding:100px;
  margin-left: -530px;
  margin-top:325px;
}
.bee-container-3{
  width:10px;
  height:10px;
  background-color: red;
  animation-name: bee- spin;
  animation-duration: 35s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position:relative;
    padding:100px;
  margin-left: 265px;
  margin-top:-50px;
}
.bee-base{
  position:relative;
  display:block;
  width:223px;
  height:173px;
  border-radius: 50%;
  background-color:#6b6b6b;
  margin-top: -84px;
  margin-left:-109px;

}
.bee-base:hover{
 background-image: linear-gradient(red, yellow);

}
.bee-eye{
  position:relative;
height:105px;
width:58px;
margin-left: 70px;
margin-top:-150px;
border-radius: 50%;
background-color: #222924;
opacity:100%;

}
.bee-eye-2{
  position:relative;
height:105px;
width:58px;
margin-left: 820px;
margin-top:-150px;
border-radius: 50%;
background-color: #222924;
opacity:100%;

}
.bee-eye-3{
  position:relative;
height:105px;
width:58px;
margin-left: 470px;
margin-top:-150px;
border-radius: 50%;
background-color: #222924;
opacity:100%;

}

.bee-stripe{
  position:relative;
  margin-top: -172px;
  margin-left: -118px;

}
.bee-stripe-2{
  position:relative;
  margin-top: -174px;
  margin-left: 45%;

}
.bee-sting{
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #d9d9d9;
	border-bottom: 25px solid transparent;
  position:relative;
  margin-left:-157px;
  margin-top:-80px;
}
.bee-sting-2{
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #d9d9d9;
	border-bottom: 25px solid transparent;
  position:relative;
  margin-left:595px;
  margin-top:-80px;
}
.bee-sting-3{
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #d9d9d9;
	border-bottom: 25px solid transparent;
  position:relative;
  margin-left:245px;
  margin-top:-80px;
}

.bee-wing{
position:relative;
margin-top:-187px;
margin-left: -140px;
}
.bee-wing-2{
position:relative;
margin-top:-177px;
margin-left: 620px;
}

.bee-wing-3{
position:relative;
margin-top:-177px;
margin-left: 270px;
}


.flower-wheel{
height:20vw;
width:20vw;
position: absolute;
  margin:50%;
}
.flower-1{
position:relative;
}
.flower-2{
position:relative;
}
.flower-3{
position:relative;
}
.flower-4{
position:relative;
}

.flower-center{
width:30%;
height:30%;
border-radius:50%;
position:relative;
margin-top: 15%;
margin-left:15%;
}
@keyframes flower-wheel-spin {
  to {transform: rotate(180deg);}
}
@keyframes flower-spin{
  from{transform: rotate(0deg);}
  to{transform:rotate(-360deg);}
}
@keyframes bee-wheel-spin {
  to{transform: rotate(360deg);}
}
@keyframes bee-spin{
  to{transform: rotate(-360deg);}
}
@keyframes bee-angry{
  from {transform: rotate(0deg);}
  33% {transform: rotate(-30deg);}
  66% {transform: rotate(0deg);}
  to {transform: rotate(30deg);}
  }
