body{
  background-color: #D1AC27
}
.container{}


.outer-hive-top-1{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 528px;
margin-top:99px;
transform:scaleX(1.2);
}
.outer-hive-bottom-1{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:528px;
margin-top: 224px;
transform:scaleX(1.2);

}
.outer-hive-top-2{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 746px;
margin-top:227px;
transform:scaleX(1.2);
}
.outer-hive-bottom-2{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:746px;
margin-top: 352px;
transform:scaleX(1.2);
}

.outer-hive-top-3{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 309px;
margin-top:227px;
transform:scaleX(1.2);
}
.outer-hive-bottom-3{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:309px;
margin-top: 352px;
transform:scaleX(1.2);
}
.outer-hive-top-4{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 528px;
margin-top:357px;
transform:scaleX(1.2);
}
.outer-hive-bottom-4{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:528px;
margin-top: 482px;
transform:scaleX(1.2);
}

.outer-hive-top-5{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 745px;
margin-top:486px;
transform:scaleX(1.2);
}
.outer-hive-bottom-5{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:745px;
margin-top: 611px;
transform:scaleX(1.2);
}

.outer-hive-top-6{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 529px;
margin-top:616px;
transform:scaleX(1.2);
}
.outer-hive-bottom-6{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:529px;
margin-top: 741px;
transform:scaleX(1.2);
}

.outer-hive-top-7{
border-bottom:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left: 310px;
margin-top:486px;
transform:scaleX(1.2);
}
.outer-hive-bottom-7{
border-top:125px solid #A0780F;
border-left: 60px solid transparent;
border-right: 60px solid transparent;
height :0;
width:120px;
display: inline-block;
position:absolute;
margin-left:310px;
margin-top: 611px;
transform:scaleX(1.2);
}

.inner-hive-top{
  border-bottom:104px solid #C7C7C7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height :0;
  width:120px;
  position:relative;
  margin-left: -50px;
  margin-top:  21px;
  display: inline-block;

}
.inner-hive-bottom{
  border-top:104px solid #C7C7C7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height :0;
  width:120px;
  margin-left: -50px;
  margin-top: -160px;
padding-bottom:35px;
  position: relative;
  display: inline-block;
}

.text{
font-size:38px;
color: #C35151;
position: fixed;
margin-left:560px;
margin-top: 422px;

}
.bee-wheel{
width:900px;
height:900px;
border-radius:50%;
background-color: #c7c7c7;
opacity: 50%
}
.bee-container-1{
  position:relative;
}
.bee-base{
  width:58px;
  height:108px;
  border-radius: 50%:
}
.bee-base:hover{
 background-image: linear-gradient(red, yellow);

}
.bee-eye{
height:80%;
width:30%;
border-radius: 50%;

}
.bee-stripe{
  position:relative;
  margin-top:10%;
}
.bee-sting{
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #d9d9d9;
	border-bottom: 25px solid transparent;
  position:relative;
  margin-left:-45px;
}

.bee-wing{
position:relative;
margin-top:-90px;
}



.flower-wheel{
height:20vw;
width:20vw;
position: absolute;
  margin:50%;
}
.flower-1{
position:relative;
}
.flower-2{
position:relative;
}
.flower-3{
position:relative;
}
.flower-4{
position:relative;
}

.flower-center{
width:30%;
height:30%;
border-radius:50%;
position:relative;
margin-top: 15%;
margin-left:15%;
}


@keyframe flower-wheel-spin {
  to {tranform: rotate(180deg);}
}
@keyframe flower-spin{
  to{transform:rotate(-360deg);}
}
@keyframe bee-wheel-spin{
  to{transform: rotate(60deg);}
@keyframe bee-spin{
  to{transform: rotate(-60deg);}
@keyframe bee-angry{
  from {transform: rotate(0deg);}
  33% {transform: rotate(-30deg);}
  66% {transform: rotate(0deg);}
  to {transform: rotate(30deg);}
  animation-duration:0.5s;
  animation-timing-function: ease-in;
  }
