body{
  background: #808080;
font-family: 'Merriweather Sans', sans-serif;
}

.eye-white{
  z-index: 5;
  margin: 15px;
  width:70px;
  height: 70px;
  border-radius: 50%;
  transition: transform .2s ease-in-out;
  background-color: white;
  display: inline-block;
}
.eye{
  z-index: 8;
  position: relative;
  display:inline-block;
  top:15px;
  left:15px;
  width:40px;
  height:40px;
  border-radius:50%;
  background-color: black;
}

.eye-white:hover{
  transform: scale(1.5);
}

.eye:hover{
  pointer-events: inherit;
  background-color: red;
}

h1.content-text {

  text-align: center;
  margin:15% 30%;
  font-size: 80px;
  z-index: 10;
position: fixed;
color: blue;

}
