@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
        --melon-colorgr3: #0c4515;
        --melon-colorgr2: #2f873b;
        --melon-colorgr1:  #a5d373;
        --melon-colorgr0:  #dcdfb9;
        --melon-colorw: #faf5e1;
        --melon-coloror1: #dbb68f;
        --melon-coloror2: #bb7e5d;

}
body{
background-color: var(--melon-colorw);
font-family: 'Varela Round', sans-serif;
}

.header{
    display: flex;
width: 100%;
height: 13vh;
justify-content: space-between;

    position: sticky;
top: 0;
background-color: var(--melon-colorgr2);
}
.header div{
    background-color: var(--melon-coloror1);
}
.head-bar-last{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.header :last-child :first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}
.head-btn1, .head-btn2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    display: flex;

    width: 20%;
    background-color: var(--melon-colorgr0);
    justify-content: center;
    align-items: center;
}
#logo-img{
    width: 90%;
    object-fit: cover;

}


form {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  form > .textbox {
    outline: 0;
    
    width: 8em;
    line-height: 2rem;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
   
    border-radius: 4px 0 0 4px;
  }
  
  form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }
  
  form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    width: 2em;
    text-align: center;
    line-height: 2rem;
    border: 0;
    color: #FFF;
    
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: background-color .4s ease;
    border-radius: 0 4px 4px 0;
  }
  
  form > .button:hover {
    background-color: var(--melon-colorgr1);
  }
  .btn1 {
    background: var(--melon-colorgr2);
    border-radius:3rem;
    box-shadow: var(--melon-colorw) 0 10px 20px -10px;
    box-sizing: border-box;
    color: var(--melon-colorw);
    cursor: pointer;
    
    font-size:1.2em;
    font-weight: 700;
    line-height: 3rem;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 5px 10px;
    user-select: none;
  
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
  .btn2 {
    background: var(--melon-colorw);
    border-radius: 3rem;
    box-shadow: var(--melon-coloror2) 0 10px 20px -10px;
    box-sizing: border-box;
    color: var(--melon-colorgr2);
    cursor: pointer;
    
    font-size: 1.2em;
    font-weight: 700;
    line-height: 3rem;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 5px 10px;
    user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }


.enter-main{
    display: flex;
    width: 90%;
    min-height: 90vh;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 3vh;
}
.enter-aside{
width: 20%;
border:3%;
min-height: 70vh;
background-color: var(--melon-colorw);
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
 rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

 display: flex;
 flex-direction: column;
 justify-content: space-around;

 padding-left: 5%;
 border-radius: 3rem;

}
#enter-select-1{

    background-color: var(--melon-coloror2);
    border-radius: 3rem;
    padding: 1rem;
    color: var(--melon-colorw);
}


.icon-column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65%;
    padding:3%;
    background-color: var(--melon-colorgr1);
    min-height: 80%;
    margin: 0 auto;
    overflow: auto;
    flex-direction: row;
    border-radius:5%;
}

.icon-column-container  :nth-child(2n) {
    width: 18%;
    aspect-ratio: 1/1;
    margin: 1%;
    background-color: var(--melon-coloror1);
}
.icon-column-container  :nth-child(2n+1) {
    width: 18%;
    aspect-ratio: 1/1;
    margin: 1%;
    background-color: var(--melon-colorw);
}

.work-main{

    display: flex;
    width:80%;
    min-height: 55vh;
    background-color: #a5d373;
    border-radius: 2rem;
    padding: 3%;
    margin: 0 auto;
    margin-top: 3vh;

    justify-content: center;
}
.work-main h1{
    font-size: 2rem;
}
.work-vid{
    display: flex;
    width: 60%;
    flex-direction: column;
    min-height: 90%;
}
.work-vid iframe{
    width: 90%;
    aspect-ratio: 16/9;
}

.work-aside{
    width: 25%;
    height: 50vh;
    font-size: 0.5rem;
    border-radius: 2rem;
    background-color: var(--melon-colorgr0);
    padding: 3%;
    overflow-y: scroll;
  
}
.work-aside div{
    margin: 10%;
}
.work-aside h2{
    font-size: 1rem;
}

.work-to-qa{
    background-color:var(--melon-coloror1);
    border:2px solid var(--melon-coloror2);
    width: 75%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 3%;
    border-radius: 3rem;
    font-size: 1.2rem;
}
.work-to-qa h1{
    font-size: 2rem;
}
.work-to-qa div{
    background-color:var(--melon-colorgr0);
    border:2px solid var(--melon-colorgr2);
    padding: 3%;
    border-radius: 3rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}
.work-to-qa a{
    display: block;
    background-color:var(--melon-colorgr1);
    border:2px solid var(--melon-colorgr3);
    padding: 3%;
    border-radius: 3rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}
.qa-vid-link {
    background-color: var(--melon-coloror1);
    border: 5px solid var(--melon-coloror2);
    min-height: 3rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

.qaBoard{
    min-height: 50vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    background-color: var(--melon-colorgr0);
    border: 5px solid var(--melon-colorgr3);
    padding: 3%;
    border-radius: 1rem;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 1rem;
grid-row-gap: 1rem;
}
.qaBoard div{
border-radius: 2rem;
text-align: center;
line-height: 2rem;

}

.qaBoard :first-child{ grid-area: 1/3/2/5; background-color: var(--melon-colorgr1);}
.qaBoard :nth-child(2){grid-area: 3/2/4/4;background-color: var(--melon-colorgr2);color: var(--melon-colorw);}
.qaBoard :nth-child(3){grid-area: 4/1/5/3;background-color: var(--melon-colorgr3);color: var(--melon-colorw);}
.qaBoard :nth-child(4){grid-area: 4/4/5/6;background-color: var(--melon-coloror1);}
.qaBoard :last-child{grid-area: 2/4/3/6;background-color: var(--melon-coloror2);}

.qacomment{

    background-color: var(--melon-colorgr0);
    border: 5px solid var(--melon-colorgr2);
    min-height: 3rem;
    width: 80%;
    padding: 3%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 1rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

.qa-user{
    display: block;
    background-color: var(--melon-colorw);
    border: 5px solid var(--melon-coloror1);
    min-height: 3.5rem;
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 1rem;
    line-height: 2rem;
    font-size: 1.5rem;
    
}
.qa-user :first-child{
display: inline;
background-color: var(--melon-coloror2);
width: 5%;
padding: 1rem;
aspect-ratio: 1;
border-radius: 5rem;

}
.qa-user :last-child{
    display: inline;
min-width: 60%;
background-color: var(--melon-colorgr1);
padding: 1rem;
border-radius: 1rem;
}
.qa-type{
    width: 90%;
margin: 0 auto;
margin-top: 3%;
}
.qa-ids{
width: 90%;
border-radius: 3rem;
border: 5px solid var(--melon-colorgr2);
background-color: var(--melon-colorw);
line-height: 2rem;


}
.btnqa {
    background: var(--melon-coloror1);
    border-radius: 3rem;
    box-shadow: var(--melon-colorw) 0 10px 20px -10px;
    box-sizing: border-box;
    color: var(--melon-colorgr0);
    cursor: pointer;
    
    font-size: 1.2em;
    font-weight: 700;
    line-height: 3rem;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 5px 10px;
    user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
.main-flex{
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.main-login{
    width: 30vw;
    aspect-ratio: 1;
    background-color: #bb7e5d33;
    backdrop-filter: blur(1rem);
    border: 1px solid #dcdfb966;
    border-bottom: 1px solid #bb7e5d55;
    border-right: 1px solid #bb7e5d66;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.main-login h1{ font-size: 2rem;}
.main-input input{
    padding: 1rem;
    width: 60%;
    padding: 1rem 2rem;
    outline: none;
    font-size: 1.5rem;
    color: #0c4515;
    border-radius: 0.25rem;
    background-color: var(--melon-coloror1);
    border: none;
   

}
.main-btn{
    width: 80%;
    display: flex;
    gap: 20%;
    
    justify-content: space-around;
}
.main-btn div{
    width: 30%;
    font-size: 1rem;
    
}
#index-body{
    background-color: var(--melon-colorw);
}
.demo-pic-flex{
    background-color: var(--melon-colorgr0);
    z-index: 1;
    height: 100vh;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: -100vh;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    gap: 5%;
    flex-wrap: wrap;
    overflow: hidden;
}
.demo-pic-flex img{
    border: 10%;
    width: 20%;
    aspect-ratio:1 ;
    background-color: var(--melon-coloror1);
    border-radius: 3rem;
}

